---
layout: page
pagination: 
  enabled: true
---

{% include pagination.html %}
<hr style="margin: 64px 0;" />

<!-- This loops through the paginated posts -->
{% for post in paginator.posts %}
<article>
  <a class="post-link" href="{{ post.url }}">
    {{ post.title }}
  </a>
  <br />
  <p class="date"><time datetime="{{ post.date | date: " %Y-%m-%d" }}">{{ post.date |
      date_to_long_string }}</time></p>
  {{ post.content }}
</article>
{% endfor %}
<hr style="margin: 64px 0;" />

{% include pagination.html %}