---
layout: page
---

{% include pagination.html %}
<hr style="margin: 64px 0;" />

<!-- This loops through the paginated posts -->
{% for post in paginator.posts %}
<article>
  <a style="font-size: 24px" href="{{ post.url }}">
    {{ post.title }}
  </a>
  <br />
  <p><time style="font-style: italic; font-size: 14px;" datetime="{{ post.date | date: " %Y-%m-%d" }}">{{ post.date |
      date_to_long_string }}</time></p>
  {{ post.content }}
</article>
{% endfor %}
<hr style="margin: 64px 0;" />

{% include pagination.html %}