<div class="footer">
    <div class="column">
        <span>You can find the source code for <a href="https://github.com/moromis/blog">this
                website
                here</a></span>
        <span>The fonts used on this site are <a href="https://fonts.google.com/specimen/Kalam">Kalam</a> and <a
                href="https://fonts.google.com/noto/specimen/Noto+Sans+Mono">Noto Sans Mono</a></span>
        <span>My main website is <a href="https://moromis.com">moromis.com</a></span>
    </div>
</div>