<!-- Pagination links -->
<div class="pagination">
  <!-- button disabled logic -->
  {% assign previous = "enabled" %}
  {% assign next = "enabled" %}
  {% if paginator.previous_page == nil %}
  {% assign previous = "disabled" %}
  {% endif %}
  {% if paginator.next_page == nil %}
  {% assign next = "disabled" %}
  {% endif %}

  <a href="{{ paginator.first_page_path | prepend: site.baseurl }}">
    <button {{previous}} class="pagination-button">
      &#171; Newest
    </button>
  </a>
  <a href=" {{ paginator.previous_page_path | prepend: site.baseurl }}">
    <button {{previous}} class="pagination-button">
      &#8249; Next
    </button>
  </a>
  <span>
    Post {{ paginator.page }} of {{ paginator.total_pages }}
  </span>
  <a href="{{ paginator.next_page_path | prepend: site.baseurl }}">
    <button {{next}} class="pagination-button">Previous &#8250;</button>
  </a>
  <a href="{{ paginator.last_page_path | prepend: site.baseurl }}">
    <button {{next}} class="pagination-button">
      Oldest &#187;
    </button>
  </a>
</div>