
<style>
  .pagination-outline {
    margin: 0 8px;
    padding: 8px;
    border: 1px darkgray solid;
    border-radius: 8px;
  }
</style>

<!-- Pagination links -->
<div>
    {% if paginator.previous_page %}
    <a class="pagination-outline" href="{{ paginator.first_page_path | prepend: site.baseurl }}">
      &#171; Newest
    </a>
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}" class="pagination-outline">
      &#8249; Next
    </a>
    {% else %}
    <span class="pagination-outline">
      &#171; Newest
    </span>
    <span class="pagination-outline">&#8249; Next</span>
    {% endif %}
    <span>
      Post {{ paginator.page }} of {{ paginator.total_pages }}
    </span>
    {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl }}" class="pagination-outline">Previous &#8250;</a>
    <a class="pagination-outline" href="{{ paginator.last_page_path | prepend: site.baseurl }}">
      Oldest &#187;
    </a>
    {% else %}
    <span class="pagination-outline">Previous &#8250;</span>
    <span class="pagination-outline">
      Oldest &#187;
    </span>
    {% endif %}
   
  </div>